<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Go Fish!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <form action="/game" method="post">
      <label for="name1">Player1 Name</label>
      <input id="name1" name="name1" type="text">
      <label for="name2">Player2 Name</label>
      <input id="name2" name="name2" type="text">
      <button class="btn btn-info" type="submit">Submit</button>
    </form>
  </body>
</html>